apiVersion: apps/v1
kind: Deployment
metadata:
  name: plex
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: plex
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: plex
    spec:
      runtimeClassName: nvidia
      containers:
      - env:
        - name: DP_DISABLE_HEALTHCHECKS
          value: "xids"
        - name: TZ
          value: America/New_York
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: NVIDIA_VISIBLE_DEVICES
          value: "all"
        - name: NVIDIA_DRIVER_CAPABILITIES
          value: "compute,video,utility"
        image: plexinc/pms-docker:latest@sha256:1131c4cd21fa22f8196f749f1dbb69af306776c3c83c7f5b061e51dc49bcff7f
        imagePullPolicy: Always
        name: plex
        resources:
           limits:
             nvidia.com/gpu: '1' # requesting 1 GPU
           requests:
             nvidia.com/gpu: '1'
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /data
          name: plex-data
        - mountPath: /config
          name: plex-config
        - name: transcode
          mountPath: /transcode
        securityContext:
          privileged: true
      tolerations:
        - key: node.kubernetes.io/disk-pressure
          operator: Exists
          effect: NoSchedule
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      volumes:
      - hostPath:
          path: /mnt/nfs/videos
          type: ""
        name: plex-data
      - name: dev-dri
        hostPath:
          path: /dev/dri
      - name: plex-config
        persistentVolumeClaim:
          claimName: plex-config
      - name: transcode
        emptyDir: {}
      - name: run-nvidia
        hostPath:
          path: /run/nvidia
          type: ''
      initContainers:
        - name: validate-gpu-readiness
          image: alpine:3.23
          command:
            - sh
            - '-c'
          args:
            - >-
              until [ -f /run/nvidia/validations/plugin-ready ]; do echo waiting
              for nvidia container stack to be setup; sleep 5; done
          volumeMounts:
            - name: run-nvidia
              mountPath: /run/nvidia
              mountPropagation: HostToContainer

