apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: sonarr
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 100%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      initContainers:
      - name: nfs-mount-check
        image: busybox:latest
        command: ['sh', '-c']
        args:
        - |
          ls -la /mnt/nfs/downloads && ls -la /mnt/nfs/videos/TV && echo "NFS mounts verified"
        volumeMounts:
        - mountPath: /mnt/nfs/downloads
          name: downloads-data
        - mountPath: /mnt/nfs/videos/TV
          name: tv-data
      containers:
      - env:
        - name: PGID
          value: "1000"
        - name: PUID
          value: "1000"
        image: linuxserver/sonarr:latest@sha256:8b9f2138ec50fc9e521960868f79d2ad0d529bc610aef19031ea8ff80b54c5e0
        imagePullPolicy: Always
        name: sonarr
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /config
          name: sonarr-config
        - mountPath: /downloads
          name: downloads-data
        - mountPath: /tv
          name: tv-data
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: sonarr-config
        persistentVolumeClaim:
          claimName: sonarr-config
      - hostPath:
          path: /mnt/nfs/downloads
          type: Directory
        name: downloads-data
      - hostPath:
          path: /mnt/nfs/videos/TV
          type: Directory
        name: tv-data