---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: minecraft-public
  name: minecraft-public
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: minecraft-public
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: minecraft-public
    spec:
      containers:
      - env:
        - name: EULA
          value: "TRUE"
        - name: VERSION
          value: "LATEST"
        - name: DIFFICULTY
          value: "normal"
        - name: ALLOW_LIST
          value: "true"
        image: itzg/minecraft-bedrock-server:latest@sha256:ae2eff0d05045e33654781ca03bd32a7523bcbc6561be74fa2e8cc143e8586db
        imagePullPolicy: Always
        name: minecraft-public
        lifecycle:
          postStart:
            exec:
              command:
              - /bin/sh
              - -c
              - |
                # Wait for server to start
                sleep 90
                # Disable PvP
                /usr/local/bin/send-command gamerule pvp false
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /data
          name: minecraft-public
        - mountPath: /data/allowlist.json
          name: allowlist-config
          subPath: allowlist.json
        - mountPath: /data/permissions.json
          name: permissions-config
          subPath: permissions.json
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: minecraft-public
        persistentVolumeClaim:
          claimName: minecraft-public
      - name: allowlist-config
        configMap:
          name: minecraft-public-allowlist
      - name: permissions-config
        configMap:
          name: minecraft-public-permissions
