apiVersion: apps/v1
kind: Deployment
metadata:
  name: nzbget
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: nzbget
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nzbget
    spec:
      containers:
      - env:
        - name: TZ
          value: America/New_York
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        image: nzbgetcom/nzbget:v26.0@sha256:5ea1c8fdd01955cd671ef6cbd00aa54af19b5249558ff431f7b8ab13ee25acbb
        imagePullPolicy: Always
        name: nzbget
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /config
          name: nzbget-config
        - mountPath: /downloads
          name: nzbget-downloads
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: nzbget-config
        persistentVolumeClaim:
          claimName: nzbget-config
      - hostPath:
          path: /mnt/nfs/downloads
          type: ""
        name: nzbget-downloads